<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Главная страница</title>
</head>
<body>
    <h1 class="header">Добро пожаловать в нашу клинику!</h1>
    <div class="container">
        <h2 class="welcome-text">Выберите действие:</h2>
        <ul class="button-list">
            <li><button onclick="window.location.href='/login'" class="login-button">Войти</button></li>
            <li><button onclick="window.location.href='/doctors'" class="doctors-button">Посмотреть доступных врачей</button></li>
        </ul>
    </div>
</body>
</html>